.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

$fontWeights: (
  'black': 900, 
  'bold': 700, 
  'medium': 500, 
  'regular': 400, 
  'light': 300, 
  'thin': 100
);


@each $name, $value in $fontWeights {
  .font-weight-#{$name} {
    font-weight: #{$value} !important;
  }
}